# Logs
logs
*.log

# Dependency directories
node_modules/

# Build outputs
dist/
build/
.vite/

# Environment variables
.env.local
.env

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo